In [77]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import copy
from datetime import datetime
date_format = '%Y-%m-%d'


import Rolling_Portfolios
import importlib
importlib.reload(Rolling_Portfolios)

In [108]:
data_file_path = "/Users/theo/Documents/RiskLab/Asset Allocation Strategies/FinEmbed/Data/US_set.csv"
data_file_path = "/Users/theo/Documents/RiskLab/Asset Allocation Strategies/S&P.csv"

df = pd.read_csv(data_file_path)

def to_datetime(date_string):
    return datetime.strptime(date_string,date_format)

df['Date'] = df['Date'].apply(to_datetime)
df.index = df['Date']
df.drop(columns=['Date','date'],inplace=True)
df.dropna(inplace=True,axis=1)

df = df.sample(n=20,axis=1)
df = df.tail(200)
df.head()

,HUM,IP,FCX,CVS,CCI,AMZN,SHW,MMC,CTSH,TAP,NEM,TGT,DVN,AMD,A,ES,CMS,FFIV,NI,ITW
Date,,,,,,,,,,,,,,,,,,,,
2018-08-10,323.303497,49.956577,14.932128,67.410805,107.268608,1886.300049,438.917114,81.819244,74.688759,64.227386,34.144760,79.954330,42.516628,19.059999,65.822357,59.511742,47.332127,179.979996,26.022446,133.496597
2018-08-13,322.338623,49.458160,14.744364,67.850113,107.540825,1896.199951,431.149231,81.198280,74.550369,64.207756,33.233597,79.325981,41.752438,19.730000,65.504471,59.899754,47.615906,179.850006,26.237587,132.929230
2018-08-14,327.580505,50.130501,14.625777,69.685486,108.153282,1919.650024,432.328278,81.572830,74.352684,66.121040,32.552624,80.553574,42.089870,20.020000,66.309113,59.948257,47.752903,181.550003,26.364716,134.308517
2018-08-15,324.357819,49.337234,13.499197,69.939316,109.125450,1882.619995,434.587311,81.612259,73.680519,65.914993,30.500099,78.614754,40.174442,19.700001,64.302460,60.472076,48.388954,178.960007,26.589640,135.570389
2018-08-16,328.316528,49.927353,13.607902,71.462280,109.553200,1886.520020,439.144073,82.430351,74.234070,66.611618,30.308271,79.959267,40.372932,19.330000,65.067375,61.102604,48.809727,178.619995,26.912352,135.922546

In [103]:
df.shape

(200, 20)

# Process Data

In [109]:

importlib.reload(Rolling_Portfolios)
AC = Rolling_Portfolios.AssetClass(df)
AC.fit()

/Users/theo/anaconda3/lib/python3.6/site-packages/scipy/optimize/_trustregion_constr/canonical_constraint.py:148: FutureWarning: arrays to stack must be passed as a "sequence" type such as list or tuple. Support for non-sequence iterables such as generators is deprecated as of NumPy 1.16 and will raise an error in the future.
  c.keep_feasible for c in canonical_constraints)), dtype=bool)
/Users/theo/Documents/RiskLab/Asset Allocation Strategies/Rolling_Portfolios.py:138: ComplexWarning: Casting complex values to real discards the imaginary part
  Df[k] = Df_k

In [110]:
AC.train_score_data

,Start Date,Strategy Code,Strategy Name,1/N Sharpe,ERC Sharpe,MinVar Sharpe
0,2018-11-01 00:00:00,2,MinVar,0.28499,0.28499,1.24391
1,2018-12-03 00:00:00,0,1/N,-0.715664,-0.715664,-0.809426
2,2019-01-02 00:00:00,2,MinVar,2.419,2.419,7.31544
3,2019-02-01 00:00:00,2,MinVar,2.93633,2.88539,4.12901

In [111]:
AC.train_score_data[['1/N Sharpe','ERC Sharpe','MinVar Sharpe']].mean()

1/N Sharpe       1.231163
ERC Sharpe       1.218430
MinVar Sharpe    2.969732
dtype: float64